{% extends "main/base.html" %}
{% load static chat_app %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/talk_room.css' %}">
{% endblock %}

{% block header_title %}{{ friend.username }}{% endblock %}
{% block talk_room %}
<a href="{% url 'friends' %}" class="back-button"><i class="fas fa-angle-left"></i></a>
<a href="" class="reload-button">更新</a>
{% endblock %}

{% block content %}
<div class="talk-room">
    {# 過去のチャットの表示部分 #}
    <ul class="chatboard">
        {# チャットを古い順に for 文で表示します #}
        {% for talk in talks %}
        <li class="chatboard__item {% if talk.sender == request.user %}mine{% endif %}">
            {% if talk.sender != request.user %}
            <img src="{% if talk.sender.icon %}{{ talk.sender.icon.url }}{% else %}{% static 'main/img/default-icon.png' %}{% endif %}" class="chatboard__icon">
            <p class="chatboard__username">
                {{ talk.sender.username }}
            </p>
            {% endif %}
            <a href="{% url 'talk_room' friend.id %}?parent_talk_id={{ talk.pk }}" class="chatboard__message"> {# 変更 #}
                {# 追加ここから #}
                {% if talk.parent_talk_sender_username and talk.parent_talk_message %}
                >> {{ talk.parent_talk_sender_username }}: {{ talk.parent_talk_message }}<br>
                {% endif %}
                {# 追加ここまで #}
                {{ talk.message }}
            </a>
            <p class="chatboard__time">
                {{ talk.time|elapsed_time }}<br>
                {{ talk.time|date:"H:i" }}
            </p>
        </li>
        {% endfor %}
    </ul>
    {# チャットの送信フォーム #}
    <form action="{% url 'talk_room' friend.id %}" method="POST" class="message-form">
        {# 追加ここから #}
        {% if parent_talk %}
        <p class="reply">
            >> {{ parent_talk.sender.username }}: {{ parent_talk.message }}
        </p>
        <input type="hidden" name="parent_talk_id" value="{{ parent_talk.id }}">
        {% endif %}
        {# 追加ここまで #}
        {% csrf_token %}
        {{ form.message }}
        <button type="submit" class="message-form__submit">送信</button>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}